@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "PPNeueMachina";
  src: url("/fonts/PPNeueMachina-InktrapSemibold.woff2") format("woff2"),
    url("/fonts/PPNeueMachina-InktrapSemibold.woff") format("woff"),
    url("/fonts/PPNeueMachina-InktrapSemibold.ttf") format("truetype"),
    url("/fonts/PPNeueMachina-InktrapSemibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 18px;
}

:root,
[data-theme] {
  background: hsl(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  @apply font-neue-machina;
  @apply font-semibold;
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md normal-case;
}

.btn.btn-ghost {
  @apply shadow-none;
}
